@page "/{index?}"

@inject NavigationManager NavigationManager
@inject IMediator Mediator
@inject IStringLocalizer<SharedResources> Localizer

@using KnowledgeMining.Application.Documents.Queries.GetAutocompleteSuggestions
@using KnowledgeMining.Application.Documents.Queries.GetIndex
@using KnowledgeMining.Domain.Entities

<PageTitle>@Localizer["home"]</PageTitle>

<style>
    .justify-title {
        text-align: justify;
        font-size: 49.88pt;
        line-height: 1;
    }
    .justify-title:after {
        display: inline-block;
        width: 100%;
    }
</style>

<MudPaper Height="400px" Width="100%" Class="mud-theme-info d-flex align-center" Square="true" Elevation="0">
    <MudContainer MaxWidth="MaxWidth.Small">
        <div class="justify-title">
            @Localizer["DocCracker"]
        </div>
        @if(_indexItem != null) {
            <div style="width:100%">
                <MudText Typo="Typo.h5" Align="Align.Right">@_indexItem.Name</MudText>
            </div>
        }
        <MudPaper Style="@($"background: {Theme.Palette.White}")" Elevation="1">
            <MudAutocomplete T="string" Label=@Localizer["WhatSearch"] @bind-Value="searchQuery" SearchFunc="@AutoComplete"
                             ResetValueOnEmptyText="true"
                             CoerceText="true"
                             CoerceValue="true"
                             Immediate="true"
                             AdornmentIcon="@Icons.Material.Filled.Search"
                             AdornmentColor="Color.Primary"
                             OnAdornmentClick="@GoToSearchPage"
                             OnKeyUp="GoToSearchPageWhenEnterPressed"
                             Variant="Variant.Outlined"
                             Margin="Margin.None" />
        </MudPaper>
    </MudContainer>
</MudPaper>
<MudPaper Width="100%" Class="" Square="true" Elevation="0">
    @if (!string.IsNullOrEmpty(_landingPageContent))
    {
        @((MarkupString)_landingPageContent)
    }
</MudPaper>


@code {
    private string? searchQuery;

    [Parameter]
    public string? Index { get; set; }

    private MudTheme Theme = new MudTheme();
    private IndexItem? _indexItem;
    private string? _landingPageContent;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(Index))
            throw new ArgumentNullException(nameof(Index));
        var indexResponse = await Mediator.Send(new GetIndexQuery(Index));
        _indexItem = indexResponse.IndexItem;
        
        if(!string.IsNullOrEmpty(_indexItem.Landing?.PagePath))
            _landingPageContent = System.IO.File.ReadAllText($"/landings/{_indexItem.Landing.PagePath}");
    }

    private async Task<IEnumerable<string>?> AutoComplete(string value)
    {
        var results = await Mediator.Send(new GetAutocompleteSuggestionsQuery(_indexItem.IndexName, value));
        if (results.Count() == 0)
            return null;
        return results.Prepend(value).Distinct(); 
    }

    private Task GoToSearchPageWhenEnterPressed(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            GoToSearchPage();
        }

        return Task.CompletedTask;
    }

    private void GoToSearchPage()
    {
        NavigationManager.NavigateTo($"/search/{Index}?q={searchQuery ?? string.Empty}");
    }
}

