@page "/{Index}/admin/{DocumentName}"
@using KnowledgeMining.UI.Pages.ErrorDocument.Components
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using KnowledgeMining.UI.Services.Links
@using KnowledgeMining.UI.Helpers;
@using KnowledgeMining.Domain.Entities;

@inject ILinkGenerator LinkGenerator;
@inject IWebHostEnvironment HostEnvironment

<style>
    .document-title-overflow {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mudbutton-text-left {
        justify-content: normal !important;
        text-transform: none !important;
    }
    .mudbutton-text-left > span {
        text-align: left;
    }
    .row-item {
        margin: auto 0 auto 0;
    }
    .section-title {
        padding: 20px 0 10px 0;
    }
    .muditem {
        margin: 20px 0 0 0;
    }
    .mudbutton {
        margin: 0 10px 0 10px;
    }
    .error-col {
        width: 33%;
    }
    .metadata-key-col {
        width: 33%;
    }
    .metadata-value-col {
        width: 66%;
    }
</style>

<PageTitle>@Localizer["errorCorrectionHeader"]</PageTitle>
<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-4">
    <MudGrid>
        <MudItem xs="12" sm="2">
            <MudButton Disabled="@(!_canNavigateBack)" StartIcon="@Icons.Material.Filled.ArrowBack" Title="@Localizer["back"]" Color="Color.Inherit" OnClick="GoBack">@Localizer["back"]</MudButton>
        </MudItem>
        <MudItem xs="0" sm="10">
            @if(!_documentIsLoading)
            {
                <MudItem>
                    <MudStack Row="true">
                        <MudTextField style="font-size: 25px;" T="string" HelperText="@Localizer["errorDocNameHelperText"]" HelperTextOnFocus="true" Label="@Localizer["documentName"]" Value="@DisplayFilename" Class="row-item document-title-overflow" ValueChanged="@( (string s) => UpdateDisplayFilename(s))"></MudTextField>
                        <MudIcon Class="@FilenameChangeWarningIconClass" Icon="@Icons.Material.Filled.WarningAmber" Color="Color.Warning" Size="Size.Large" Title="@Localizer["unsavedChange"]"></MudIcon>
                    </MudStack>
                </MudItem>

                @if (@_document.Metadata != null)
                {
                    <MudItem Class="">
                        <MudStack Row="true" Class="section-title">
                            <MudAvatar Color="Color.Info" Variant="Variant.Filled" Class="row-item"><MudIcon Icon="@Icons.Material.Filled.Article"></MudIcon></MudAvatar>
                            <h3 class="row-item">@Localizer["metadata"]</h3>
                        </MudStack>
                        <MudSimpleTable>
                            <thead>
                                <tr>
                                    <th class="metadata-key-col">@Localizer["key"]</th>
                                    <th class="metadata-value-col">@Localizer["value"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var key in _document.Metadata.Keys)
                                {
                                    <tr>
                                        <td class="metadata-key-col">@key</td>
                                        <td class="metadata-value-col">@_document.Metadata[key]</td>
                                    </tr>
                                }
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>
                }

                <MudItem Class="muditem">
                    <MudStack Row="true" Class="section-title">
                        <MudAvatar Color="Color.Info" Variant="Variant.Filled" Class="row-item"><MudIcon Icon="@Icons.Material.Filled.Error"></MudIcon></MudAvatar>
                        <h3 class="row-item">@Localizer["errors"]</h3>
                    </MudStack>
                    <MudSimpleTable>
                        <thead>
                            <tr>
                                <th class="error-col">@Localizer["code"]</th>
                                <th class="error-col">@Localizer["name"]</th>
                                <th class="error-col">@Localizer["value"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var error in ErrorHelper.GetErrorsFromMetadata(_document.Metadata["error"]))
                            {   
                                <tr>
                                    <!-- add Title="@(()=> GetErrorHint(error.Split(':')[0]))" to a mudIcon or mudAvatar-->
                                    <td class="error-col">
                                        <MudIcon Icon="@Icons.Material.Outlined.Info" Size="Size.Small" Title="@GetCurrentLanguage.GetLocalizedText(ErrorHelper.GetErrorHint(error, _indexItem))"></MudIcon>
                                        @error.Code.ToString()
                                    </td>

                                    <td class="error-col">@GetCurrentLanguage.GetLocalizedText(ErrorHelper.GetErrorName(error, _indexItem))</td>

                                    <td class="error-col">@error.Value</td>
                                </tr>
                            }
                        </tbody>
                    </MudSimpleTable>
                </MudItem>
                <MudItem Class="muditem">
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                        <MudButton Class="mudbutton" Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.Save" @onclick="Save" Disabled="SaveButtonDisabled">@Localizer["save"]</MudButton>
                        <MudButton Class="mudbutton" Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" @onclick="DeleteDocument">@Localizer["delete"]</MudButton>
                    </div>
                </MudItem>
            }
            else 
            {
                <MudStack Row="true">
                    <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Circle" Width="42px" Height="42px" />
                    <MudSkeleton Animation="Animation.Wave" Height="42px" Width="100%" />
                </MudStack>
            }
        </MudItem>
    </MudGrid>
</MudContainer>
