@*@page "/documents";*@
 
<PageTitle>Documents</PageTitle>
 
<style>
    .my-data-table-row {
        max-width: 120px; white-space:nowrap
    }
</style>

<div class="d-flex flex-row-reverse mt-5 mb-5 mr-5">
    <MudButton StartIcon="@Icons.Filled.Refresh" Variant="Variant.Filled" Color="Color.Warning" OnClick="RefreshCacheClicked">Refresh</MudButton>
    <MudButton StartIcon="@Icons.Filled.CloudUpload" Variant="Variant.Filled" Color="Color.Info" 
        OnClick="OpenUploadComponent" style="margin-right: 20px">Upload Documents</MudButton> 
</div>
<MudTable T="Document" Items="@_documents" Hover="true" Loading="@_isLoading" Style="table-layout: fixed;"
             ReadOnly="true"
             Bordered="true"
             RowsPerPage="@_pageSize" Virtualize="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Documents (@_totalPages)</MudText>
        <MudSpacer />
        <MudTextField T="string" ValueChanged="OnSearch" Placeholder="Search" Adornment="Adornment.Start" 
            AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Metadata</MudTh>
        <MudTh style="width: 6%;">Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Metadata" 
            Style="max-width: 200px; white-space:nowrap; overflow: hidden; text-overflow: ellipsis;">
            <MudIconButton Title="Metadata" Size="@Size.Small" Icon="@Icons.Outlined.Edit" OnClick="@(async (e) => await EditDocumentMetadata(context))" />
                @if(context.Metadata != null) {
                    @DisplayAuthorizedFields(AuthorizedMetadataFields, context.Metadata)
                }
        </MudTd>
        <MudTd DataLabel="Actions" >
            <MudIconButton Title="Read More" Size="@Size.Small" Icon="@Icons.Outlined.ReadMore" OnClick="@(async (e) => await ReadMoreDocument(context))" />
            <MudIconButton Title="Delete" Size="@Size.Small" Icon="@Icons.Outlined.DeleteForever" OnClick="@(async (e) => await DeleteDocument(context))" />
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No documents found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
